:root {
    --bg-color: white;
}

body {
    height: 100%;
    background-color: var(--bg-color);
}

.preload * {
    animation-duration: 0s !important;
    transition: background-color 0s, opacity 0s, color 0s, width 0s, height 0s, padding 0s, margin 0s !important;
}

#contents {
    background-color: aliceblue;
    position: absolute;
    left: 5%;
    right: 5%;
    top: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    gap: 20px;
}

.sub-container {
    background-color: red;
    padding: 20px;
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 60px;
}

h1 {
    display: block;
    width: 100%;
    left: 0;
    right: 0;
}

.content-frame {
    float: right;
    width: 60%;
    position: relative;
}

.contents {
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

canvas.contents {
    position: absolute;
}

img.contents {
    position: relative;
    box-shadow: 0 2px 5px black;
}

.overlay {
    position: absolute;
    left: 0;
    top: 0;
    min-width: 100%;
    min-height: 100%;
    backdrop-filter: blur(0px);
    background: transparent;
    background-size: contain;
    transition: all .1s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
}

.blur {
    /* transform: scale(1.025);  */
    backdrop-filter: blur(5px);
}

.pointer {
    cursor: pointer;
}

.overlay-text {
    position: absolute;
    color: white;
    font-weight: bold;
    font-size: 1.5em;
    animation: fade-in 0.3s ease-in-out;
}

.spinner {
    position: absolute;
    height: 50px;
    width: 50px;

    animation: rotation 1s linear infinite, fade-in 0.3s ease-in-out;

    border-left: 15px solid rgb(235, 235, 235);
    border-right: 15px solid rgb(235, 235, 235);
    border-bottom: 15px solid rgb(235, 235, 235);
    border-top: 15px solid rgb(120, 120, 120);

    border-radius: 100%;
}

@keyframes rotation {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}

.invisible {
    opacity: 0;
    animation: fade-out 0.15s ease-in-out;
}


@keyframes fade-in {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes fade-out {
    from { opacity: 1; }
    to { opacity: 0; }
}
